.header{
 display: flex;
 align-items: center;
 margin-bottom: 20px;
}

.image{
  height: 100px;
  width: 350px;
  margin-right: 50px;
}

.ul{
  display: flex;
  list-style-type: none;
  gap: 50px;
  font-size: x-large;
  font-weight: bold;
}


.hero-section{
  background-color: #495E57;
  margin: 0 auto;
  text-align: left; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px 80px;
  
}

h2{
  color: #F4CE14;
  font-size: 70px;
  font-weight: bold;
  padding-top: 40px;
}
h3{
  color: white;
  font-size: x-large;
}
 p{
  color: white;
  text-wrap: wrap;
  line-height: 1.6;
 }
.button{
  background-color: #F4CE14;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 5px;
  border: white;
  font-size: 16px;
  cursor: pointer;
}
.image{
  display: flex;
  align-items: center;
  justify-content: center;
}
.image img{
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.topInformation{
  display: flex;
}

.menuBtn{
  text-align:center;
  margin-right: 20px;
}

foods{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;

}

.greekSalad bruchetta lemonDessert{
  color: black;
  background-color: lightgray;
}






.footer{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

footer div{
  text-align: left;
}

.footer-information{
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

footer h4{
 font-weight: bold;
 font-size: 20px;
 margin-bottom: 20px;
 
}

img{
  height: 100px;
  width: 50px;
}


ul{
  padding: 0;
  list-style-type: none;
  gap: 10px;
}


