.header{
 display: flex;
 align-items: center;
}

.image{
  height: 100px;
  width: 350px;
  margin-right: 50px;
}

.ul{
  display: flex;
  list-style-type: none;
  gap: 50px;
  font-size: x-large;
  font-weight: bold;
}

.footer{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

footer div{
  text-align: left;
}

.footer-information{
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

footer h4{
 font-weight: bold;
 font-size: 20px;
 margin-bottom: 20px;
 
}

img{
  height: 100px;
  width: 50px;
}


ul{
  padding: 0;
  list-style-type: none;
  gap: 10px;
}


